    /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0EFEC;
    font-family: 'Instrument Serif', serif;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

    /* Ingen streger under tekst */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

    /* Header */
.header {
    background-color: #000000;
    position: absolute;
    top: 0;
    width: 100%;
}

    /* Logo */
.logo {
    display: inline-block;
    color: #FFFFFF;
    font-size: 30px;
    width: 100%;
    height: auto
}

    /* Navigationsmenu */
.navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    overflow: hidden;
}

.menu a {
    display: block;
    padding: 30px;
    color: #FFFFFF;
    text-align: center;
}

.meni a:hover {
    background-color: #FFFFFF;
}

.navigation {
    max-height: 0;
    transition: max-height .5s ease-out;
}

    /* Menu ikon */
.hamburger {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: #746767;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

    /* Span tag styling */
.hamb-line::before
.hamb-line::after{
    background-color: #746767;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::before {
    top: -5px;
}

    /* Gem checkbox */    
.side-menu {
    display: none;
}

    /* Toggler menu ikon */
.side-menu:checked ~ nav{
    max-width: 100%;
}

.side-menu:checked ~ .hamburger .hamb-line{
    background: transparent;
}

.side-menu:checked ~ .hamburger .hamb-line::before{
    transform: rotate(-45deg);
}

.side-menu:checked ~ .hamburger .hamb-line::after{
    transform: rotate(45deg);
    top: 0;
}

    /* Responsivitet */
@media (min-width: 768px) {
    .navigation {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
}

.menu li{
    float: left;
}

.menu a:hover {
    background-color: transparent;
    color: #746767;
}

.hamburger{
    display: none;
}



/* ----------------------------- Her starter main ----------------------------- */

.mig {
    margin-top: 1px;
    width: 100%;
    height: auto;
}

.logohm {
    margin-top: 40px;
    width: 30px;
    height: auto;
}

/* ----------------------------- Portfolie afsnit ----------------------------- */

.portfolie {
    width: 100%;
    height: auto;
    padding: 20px; 
    border: 5px;  
    background-color:transparent; 
    border-color: transparent;
}

.portfolie h2 {
    font-family: 'Instrument Serif', serif;
    text-align: center;
    width: 100%;
    height: auto;
    color: #746767;
    font-size: 20px;
}

.portfolie p {
    font-family: 'Instrument Serif', serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: auto;
}

/* ----------------------------- Projekt knap ----------------------------- */

.button {
    margin: 70 px auto 0;
    float: right;
  }   

  .button a {
    font-family: 'Instrument Serif', serif;
    width: 150 px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #000;
    border: .5px solid #000000;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
  }

  .button a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #746767;
    z-index: -1;
    transition: 0.5s;
  }

  .button a:hover span{
    width: 100%;
  }

  .button a:hover{
    color: #FFFFFF;
  }


/* ----------------------------- Projekt afsnit ----------------------------- */ 

#portfoliestart{
    width: 100%;
    padding: 30px 0;
}

.projekter {
    width: 100%;
    height: auto;
    padding: 20px; 
    border: 5px;  
    background-color:transparent; 
    border-color: transparent;
    margin-top: 50px;
    border: none;
}

.projekter h2 {
    font-family: 'Instrument Serif', serif;
    color: #746767;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: auto;
}

.projekter p {
    font-family: 'Instrument Serif', serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: auto;
}

.projektbox {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: flex;
}

.egenprojekt {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #FFFFFF;
    position: relative;
}

.egenprojekt img {
    width: 50%;
    border-radius: 7px;
}

.overlap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #746767);
    opacity: 0;
    transition: 1;
}

/* Skrift over billeder */

.egenprojekt:hover .overlap {
    opacity: 1;
}

.beskrivelse {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr {
    background: #FFFFFF;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.beskrivelse p {
    font-family: 'Instrument Serif', serif;
    font-size: 15px;
}

.egenprojekt:hover .beskrivelse {
    bottom: 40%;
    opacity: 1;
}

/* Mobil version */

@media screen and (max-width: 770px) {
    .egenprojekt{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .beskrivelse p {
        font-size: 12px;
    }
    hr {
        margin: 5px auto;
    }
    .egenprojekt:hover .beskrivelse {
        bottom: 25% !important;
    }
}

/* ----------------------------- Om mig knap ----------------------------- */

.button2 {
    margin: 70 px auto 0;
    float: right;
  }   

  .button2 a {
    font-family: 'Instrument Serif', serif;
    width: 150 px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #000;
    border: .5px solid #000000;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
  }

  .button2 a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #746767;
    z-index: -1;
    transition: 0.5s;
  }

  .button2 a:hover span{
    width: 100%;
  }

  .button2 a:hover{
    color: #FFFFFF;
  }

   /* ----------------------------- Her starter "om mig" ----------------------------- */

   .om mig {
    width: 100%;
    height: auto;
    padding: 20px; 
    border: 5px;  
    background-color:transparent; 
    border-color: transparent;
    margin-top: 50px;
    border: none;
  }
  
  .beskrivelse h2 {
    font-family: 'Instrument Serif', serif;
    color: #746767;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: auto;
  }
  
  .beskrivelse p {
    font-family: 'Instrument Serif', serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: auto;
  }


/* ----------------------------- Kotankt knap ----------------------------- */

.button3 {
    margin: 70 px auto 0;
    float: right;
  }   

  .button3 a {
    font-family: 'Instrument Serif', serif;
    width: 150 px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #000;
    border: .5px solid #000000;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
  }

  .button3 a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #746767;
    z-index: -1;
    transition: 0.5s;
  }

  .button3 a:hover span{
    width: 100%;
  }

  .button3 a:hover{
    color: #FFFFFF;
  }

/* ----------------------------- Her starter kontakt ----------------------------- */

  .kontaktformular {
    width: 100%;
    height: auto;
    padding: 20px; 
    border: 5px;  
    background-color:transparent; 
    border-color: transparent;
    margin-top: 50px;
    border: none;
  }
  
  .formular h2 {
    font-family: 'Instrument Serif', serif;
    color: #746767;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: auto;
  }
  
  .formular p {
    font-family: 'Instrument Serif', serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: auto;
  }